# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#Visual Studio 
*.exe
*.pdb
*.log
*.ilk
*.obj
*.idb
*.tlog
*.lastbuildstate
*.opensdf
*.sdf
*.vcxproj.filters

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

Proiect/Pc/Release/Output
Proiect/Pc/Debug/Input
Proiect/Pc/Debug/Output
Proiect/Pc/Release/Input
Proiect/Pc/SerialPortComunication.v12.suo
Proiect/Pc/SerialPortComunication.v12.suo
Proiect/Pc/SerialPortComunication.v12.suo
Proiect/Pc/SerialPortComunication/Input
Proiect/Pc/SerialPortComunication/Output
Proiect/WebSite/Input
Proiect/Pc/SerialPortComunication.v12.suo
*.suo
Proiect/WebSite/Debug.txt
*.suo
*.tmp